<button class="button-show-menu button-show-menu-visible">
    <i class="fas fa-bars"></i>
    <span class="hidden-text">Show menu</span>
  </button>
  <div class="menu-container menu-hidden">
    <button class="button-close-menu button-close-menu-visible">
    <i class="fas fa-times-circle"></i>
      <span class="hidden-text">Close menu</span>
    </button>
    <div class="menu-content">
      <nav class="menu-nav">
        <a href="{% url 'recipe:home' %}">Home</a>
        {% if user.is_authenticated %}
          <a href="{% url 'auth:create_recipe' %}">New recipe</a>
          <a href="{% url 'auth:dashboard' %}">Dashboard</a>
          {% include 'global/partials/form_logout.html' %}
        {% else %}
          <a href="{% url 'auth:login' %}">Login</a>
          <a href="{% url 'auth:register' %}">Register</a>
      {% endif %}
      </nav>
    </div>
  </div>