
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>{% block title %}{% endblock title %} | Recipes</title>
    {% include "recipes/partials/head.html" %}
</head>
<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}

    <main class="main-content-container container">
        {% if messages %}
            <div class="main-content center container messages-container">
                {% for message in messages  %}    
                    <div class="message {{message.tags}}">
                            {{message}}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block page %}
            
        {% endblock page %}  

        {% include "recipes/partials/pagination.html" %}
    </main>
    {% include "recipes/partials/footer.html" %}
</body>
</html>