{% if recipes.has_other_pages %}
<div class="content-pagination">
    <div class="pagination-content">
    {% for page in pagination_range %}
        {% if current_page == page %}
        <a class="page-link page-item page-current" href="?page={{page}}{{aditional_url_query}}">
            {{page}}  
        </a>
        {% else %}
        <a class="page-link page-item" href="?page={{page}}{{aditional_url_query}}">
            {{page}}
        </a>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}